/* Dropdown.css */

.dropdown-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .facircle-icon {
    color: red; /* Adjust the color as needed */
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    margin-right: 4px;
  }
  
  .select-dropdown {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px;
    width: 260px;
    margin: 5px;
  }
  
  .button-style {
    background-color: #F2FBF9;
    color: #657A93;
    padding: 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 32px;
  }
  
  .add-schema-link {
    font-family: 'Lato', sans-serif;
    color: #ccc;
    font-size: 12px;
    display: flex;
    margin-left: 36px;
  }
  
  .add-schema-link.active {
    color: #46B697;
    cursor: pointer;
  }
  