.navbar-container {
    background-color: #39AEBC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .navbar-content {
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    margin-right: 10px;
  }
  